.container{
    display: flex;
    flex-direction: column;
    max-width: 60vw;
    padding-left: 10vw;
    &__inputs{
        padding:  20px;
        margin: 20px;
        margin-bottom: 10px;
    }
    &__errors{
        color: red;
        margin-top: 0;
       margin-left:20px;
    }
    &__date{
        display: flex;
        &__section{
            display: flex;
            flex-direction: column;
            margin-right: 20px;
        }
    }
    
}


