.container {
	background-color: #f7f7f7;

	&__navlink {
		color: rgb(62, 62, 62);
		font-size: 0.9em;
		padding-top: 50px;
		padding-left: 70px;
	}
	&__title {
		font-size: 3em;
		padding-left: 70px;
		padding-top: 60px;
		padding-bottom: 40px;
		@media (max-width: 768px) {
			padding-left: 30px;
		}
	}
	&__errors {
		font-size: 0.8em;
		color: red;
		margin: 0;
		margin-top: 5px;
	}
}
